

<main class="main">
  <form [formGroup]="channelsForm" (submit)="submitData()">
    <label for="youtubeID">Youtube Channel ID</label>
    <input id="youtubeID" type="text" formControlName="youtubeID" />
    <label for="twitchID">twitchID</label>
    <input id="twitchID" type="text" formControlName="twitchID" />
    <label for="googleAPIKey">Google API Key</label>
    <input id="googleAPIKey" type="password" formControlName="googleAPIKey" />
    <button type="submit" class="primary">Merge Chats</button>
  </form>
  <li *ngFor="let comment of commentsTemp.commentsPlaceholder">
    {{ comment }}
  </li>

</main>

<router-outlet />
